.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

::-webkit-scrollbar {
    display: none;
}

.flatpickr-input{
display: none;}

.playfair{
font-family: 'Playfair Display SC', serif;}

.black-bg{
background: #222;
}
.gold-text{
color: rgb(255, 226, 38);
}


.bold-text{
font-weight: 800;
}


.trapezium{
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    right: -30px;
    background : #222;
    position: absolute;
    top: calc(50% - 50px);
    height: 100px;
    width: 30px;
    color: white;
    line-height: 100px;
    cursor: pointer;
}

.one-calendar-cell{
transition: 0.2s background ease;
cursor:pointer;
}

.one-calendar-cell:hover{
background: lightgrey!important;
transition: 0.2s background linear;
}